body{ 
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;  
    color: rgb(112, 109, 109);
}
h2{
    font-size: 35px;
    color: rgb(133, 129, 129);
}
h3{
    font-size: 25px;
}
.distance{
    margin-bottom: 8%;
}
#first-p{
    color: gray;
    font-size: 20px;
    margin-bottom: 10%;
}
span{
    color: orange;
}
.flex-cont{
    display: flex;
}
#food{
    margin-left: 5%;
    margin-right: 5%;
}
.back-img{
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 10%;
}
.skip-img{
    width: 95%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato , hotpink);
    border-radius: 30px;
    padding:15px 30px;
    box-shadow:2px 2px 20px 2px pink;
    margin: 100px 0px 0px 0px;
}
#about-img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.second-p{
    font-size: 15px;
    margin-bottom: 10%;
}
.recipe p{
    font-size: small;
}
.recipe-title{
    box-shadow: 10px 10px 30px rgb(216, 214, 214);
    padding: 1%;
    margin: 3%;
    border-radius: 20px;  
}
.recipe-title img{
    width: 100%;
   border-radius: 20px;  
}
.my-recipes{
    text-align: center;
    margin: 0 200px;
    padding: 0 80px;
}
.offer img{
    width: 10%;
   margin: 0 auto 10px auto;
   border-radius:80%;
}
.offer p{
    text-align:right;
}
.pera{
    margin: 0 80px;
    padding: 0 20px;   
}
#off-h1{
    color: rgb(243, 72, 72) ;
    text-decoration: teal;
}
.you-like{
    box-shadow: 5px 5px 20px rgb(236, 104, 104);
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 10%;
    border-radius: 20px;  
}
input{
    font-size: 20px;
    color: white;
    background-color: rgb(230, 13, 230);
    padding: 5px 15px;
    margin: 1px 5px;
    border-radius: 10px;
}
footer{
    background-color: rgb(1, 18, 73);
    color:white;
    text-align: center;
    font-size: 15px; 
    padding-bottom:5%;
    padding-top: 1%;    
}